fastapi==0.104.1
uvicorn[standard]==0.24.0
python-dotenv==1.0.0
langchain==0.0.354
langchain-google-genai==0.0.8
langchain-community==0.0.10
sqlite3
matplotlib==3.8.2
seaborn==0.13.0
pillow==10.1.0
pydantic==2.5.0
pydantic-settings==2.1.0



# fastapi==0.104.1
# uvicorn==0.24.0
# langchain==0.0.347
# langchain-google-genai==0.0.3
# google-generativeai==0.3.0
# python-dotenv==1.0.0
# sqlite3
# Pillow==10.1.0
# matplotlib==3.8.2
# seaborn==0.13.0
# pydantic==2.5.0
